{% extends 'base.html' %}



{% block content %}
<h1>Home</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum quia accusantium autem quisquam? Nobis, porro qui! Tempore deserunt cumque reiciendis dolor repudiandae architecto ab maxime sit a accusamus commodi ex omnis enim, dolorum eligendi quidem veniam debitis, magnam unde aspernatur necessitatibus aut neque error voluptatibus. Incidunt qui corrupti reiciendis esse quae sunt quam hic dolor error ratione voluptates sit praesentium labore atque, consectetur nam voluptatibus nostrum ipsam veritatis repellat quos. Distinctio quos odit nostrum cum? Ullam fugiat quae, iure, voluptate deleniti provident doloremque accusantium maiores ad facilis, assumenda delectus repellat esse. Ratione tenetur hic dolor eos, sapiente at impedit adipisci.</p>
{% endblock %}
